# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.pt
*.pth
*.pptx

# Scripts
move_1000_img_per_class.py
restructure-test-data-folder.py
pipeline_vqvae-transformer-classification_gpu01_correct_final-automated_norm01-Vanilla.py
pipeline_vqvae-transformer-classification_gpu01_correct_final-automated_norm01.py
pipeline_vqvae-transformer-classification_gpu01_correct_final-automated_norm01_trans-loss-goes-down.py
pipeline_vqvae_transformer_classification.py
train_vqvae-original.py

kernel-1353196.json



# Virtual env
.venv/
venv/

# Logs / data
*.log
*.tmp
*.png
*.npy
.DS_Store

# Jupyter
.ipynb_checkpoints/
mdl_checkpoints/
UTKFace_dataset_subset_10000/
UTKFace_dataset_subset_150000/
UTKFace_dataset_subset_15000/

# IDE
.vscode/
.idea/
